<diplr-card>
  <div class="card-header">
    Upload your file to the blockchain
  </div>
  <div class="card-body">
    Summary:...
  </div>
  <div class="card-footer">
    <div class="previous">
      <button md-raised-button class="btn btn-rose btn-round"
              (click)="previous.emit()">Previous
      </button>
    </div>
    <div class="next">
      <button md-raised-button class="btn btn-rose btn-round"
              (click)="upload.emit()">Upload to blockchain
      </button>
    </div>
  </div>
</diplr-card>
