<diplr-card>
  <div class="card-header">
    Add the metadata you want to assign to the document
  </div>
  <div class="card-body">
    <diplr-metadata-form
      *ngIf="metaDataFormGroup"
      [metaDataFormGroup]="metaDataFormGroup"
    ></diplr-metadata-form>
  </div>
  <div class="card-footer">
    <div class="previous">
      <button md-raised-button class="btn btn-rose btn-round"
              (click)="previous.emit()">Previous
      </button>
    </div>
    <div class="next">
      <button md-raised-button class="btn btn-rose btn-round"
              [disabled]="metaDataFormGroup.invalid"
              (click)="next.emit(metaDataFormGroup.value)">Next
      </button>
    </div>
  </div>
</diplr-card>
